@model ConShield.Web.ViewModels.IncidentEditViewModel
@{
    ViewData["Title"] = "Редактирование инцидента";
}

<h2>Редактирование инцидента</h2>
<partial name="_Form" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
